.feature {
    display: grid;
    width: 100%;
    grid-template-columns: 7% 55% auto 7%;
    grid-template-rows: 3em auto;
}

.feature_header{
    grid-column: 2;
    grid-row: 1;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.5;
    justify-content: center;
    color: #000000;
    text-transform: uppercase;
}

.feature_list {
    counter-reset: features;
    list-style: none;
    grid-column: 2;
    grid-row: 2;
    max-width: 90%;
    margin-top: 20px;
}

.feature_list-item {
    counter-increment: features;

    font-weight: 300;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #000000;
    line-height: 40px;
    margin: 21px 0 0 50px;
}

.feature_list-item:before {
    content: counter(features);

    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 30px 0 0;
}

.feature_list-item:before {
    content: counter(features);

    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 30px 0 0;
}

.feature_list-item:nth-child(1):before {
    background-color: #4BBFB3;
}

.feature_list-item:nth-child(2):before {
    background-color: #FFB7B7;
}

.feature_list-item:nth-child(3):before {
    background-color: #9DE2EB;
}

.feature_list-item:nth-child(4):before {
    background-color: #FFF495;
}

.feature_list-item:nth-child(5):before {
    background-color: #89E2A2;
}

.feature_list-item:nth-child(6):before {
    background-color: #E9AE3C;
}

.feature_image {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
}